# Virtual Environment
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]

# Environment variables & secrets
.env

# Vector database & raw data
vector_db/
data/raw/*.pdf
data/filtered/*.pdf
data/blacklisted/*.pdf

# IDE settings
.vscode/
.idea/