# RAG Core
langchain
langchain-community
sentence-transformers
chromadb
openai
langchain-text-splitters


# Document Parsing
pdfplumber
pypdf

# API & Web Interface
fastapi
uvicorn
streamlit

# Utilities
python-dotenv
pydantic
requests
python-dotenv

#web scrapping
bs4
ddgs